<div id="projects">
  <h3>Liste des projects réalisés</h3>
  <div id="project-list">
    <div class="project project-1 flex flex-row items-center justify-center active:shadow-lg">
      <a href="https://coosmos-test.firebaseapp.com" class="p-2 active:shadow-lg">
        <img src="assets/images/favicon-32x32.png" alt="coontents">
      </a>
    </div>
    <div class="project project-2 flex flex-row items-center justify-center active:shadow-lg" >
      <a href="http://makee.crea-tic.net/make-cv" class="p-2">
        <img src="assets/images/logo-makee.svg" alt="makee" class="">
      </a>
    </div>
    <div class="project project-3"></div>
    <div class="project project-4"></div>
  </div>
</div>
