<div id="skills">
  <h3 class="text-2xl">{{"skill.title"|translate}}</h3>
  <div id="skill-list">
    <div class="skill skill-1">
      <div class="head-skill">
        Frontend
      </div>
      <div class="skill-content">
          <div><img src="assets/images/javascript.png" class="skill-img"/><span class="skill-text">Javascript</span></div>
          <div><img src="assets/images/logo-angular.png" class="skill-img"/><span class="skill-text">Framework JS</span></div>
      </div>
    </div>
    <div class="skill skill-2">
      <div class="head-skill">
        Backend
      </div>
      <div class="skill-content">
        <img src="assets/images/logo-node-express-js.png" class="skill-img"/>
        <img src="assets/images/java-logo.png" class="skill-img"/>
        <img src="assets/images/springboot.png" class="skill-img"/>
        <img src="assets/images/php-logo.png" class="skill-img"/>
        <img src="assets/images/symfony.png" class="skill-img"/>
      </div>
    </div>
    <div class="skill skill-3">
      <div class="head-skill">
        {{"skill.bd"|translate}}
      </div>
      <div class="skill-content">
        <img src="assets/images/mysql.png" class="skill-img"/>
        <img src="assets/images/postgresql.png" class="skill-img"/>
      </div>
    </div>
    <div class="skill skill-4">
      <div class="head-skill">
        {{"skill.other"|translate}}
      </div>
      <div class="skill-content">
        <img src="assets/images/git.png" class="skill-img"/>
        <img src="assets/images/uml.png" class="skill-img"/>
      </div>
    </div>
  </div>
</div>
