<div id="skills">
  <h3 class="text-2xl">{{"skill.title"|translate}}</h3>
  <div id="skill-list">
    <div class="skill skill-1">
      <div class="head-skill">
        Frontend
      </div>
      <div class="skill-content">
          <img src="assets/images/javascript.png" class="skill-img"/>
          <img src="assets/images/typescript2034.jpg" class="skill-img"/>
          <img src="assets/images/logo-angular.png" class="skill-img"/>
          <img src="assets/images/222-2224799_react-native-development-react-native-logo-png.png" class="skill-img"/>
          <img src="assets/images/tailwindcss-ar21.png" class="skill-img"/>
      </div>
    </div>
    <div class="skill skill-2">
      <div class="head-skill">
        Backend
      </div>
      <div class="skill-content">
        <img src="assets/images/logo-node-express-js.png" class="skill-img"/>
        <img src="assets/images/java-logo.png" class="skill-img"/>
        <img src="assets/images/springboot.png" class="skill-img"/>
        <img src="assets/images/php-logo.png" class="skill-img"/>
        <img src="assets/images/symfony.png" class="skill-img"/>
      </div>
    </div>
    <div class="skill skill-3">
      <div class="head-skill">
        {{"skill.bd"|translate}}
      </div>
      <div class="skill-content">
        <img src="assets/images/MySQL_logo_logotype.png" class="skill-img"/>
        <img src="assets/images/542-5425575_postgres-logo-png-transparent-png.png" class="skill-img"/>
        <img src="assets/images/mongodb.png" class="skill-img"/>
      </div>
    </div>
    <div class="skill skill-4">
      <div class="head-skill">
        {{"skill.other"|translate}}
      </div>
      <div class="skill-content">
        <img src="assets/images/git.png" class="skill-img"/>
        <img src="assets/images/docker.png" class="skill-img"/>
        <img src="assets/images/workfeatured-GitHub-1.png" class="skill-img"/>
        <img src="assets/images/aws.png" class="skill-img"/>
        <img src="assets/images/firebase_logo-1.webp" class="skill-img"/>
        <img src="assets/images/Trello-Logo.png" class="skill-img"/>
        <img src="assets/images/uml.png" class="skill-img"/>
        <img src="assets/images/81-814934_figma-logo-png-transparent-png.png" class="skill-img"/>
      </div>
    </div>
  </div>
</div>
