/*******Standard screen desktop***********/
#user-profil{
    margin: 3rem;
    display: flex;
    align-items: center;
}

#user-describe{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
#user-contacts{
  width: 30rem;
}

/*******************Mobile screen < 720px *************************/

@media only screen and (max-width: 720px) {
  #user-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #user-profil>div{
    margin-top: 1rem;
  }

  #user-describe{
    margin-left: 0rem;
    text-align: center;
  }

  #user-contacts{
    padding-top: 1rem;
  }
}
