/*******Standard screen desktop***********/
#user-profil{
  margin-top: 4rem;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#image-profil{
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#user-describe{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
#user-contacts{
  width: 20%;
}

/*******************Mobile screen < 720px *************************/

@media only screen and (max-width: 720px) {
  #user-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #user-profil>div{
    margin-top: 1rem;
  }

  #image-profil{
    width: 0px;
  }
}
