main {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
}
.container-V{
  display: flex;
  flex-direction: column;
}
.container-H{
  display: flex;
  flex-direction: row;
}
app-skills, app-projects{
  width: 50%;
}
